<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <title>nogpo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Default Description" />
    <meta name="keywords" content="Magento, Varien, E-commerce" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <link rel="icon" href="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 7]>
        <script type="text/javascript">
        //<![CDATA[
            var BLANK_URL = 'http://demo.ethemeuk.com/megatron/magento/demo/js/blank.html';
            var BLANK_IMG = 'http://demo.ethemeuk.com/megatron/magento/demo/js/spacer.gif';
        //]]>
        </script>
    <![endif]-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/styles.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/revolution.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/adv_slider/settings.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/adv_slider/extralayers.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/loader.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/bootstrap.min.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/megatron-template.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/icomoon.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/fontello.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/jquery.rw-slider.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/flexslider.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/jcarousel.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/owl.carousel.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/owl.theme.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/cloudzoom.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/sfmenu.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/isotope.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/jquery.fancybox.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/hoverfold.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/smoothslides.theme.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/added.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/custom_changes.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/megatron/default/css/print.css' %}" media="print" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/base/default/css/widgets.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'skin/frontend/base/default/css/amasty/amajaxlogin/amajaxlogin.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'custom/css/bootstrap-slider.min.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'custom/css/style.css' %}" media="all" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prototype/prototype.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/ccard.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prototype/validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scriptaculous/builder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scriptaculous/effects.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scriptaculous/dragdrop.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scriptaculous/controls.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scriptaculous/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/varien/js.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/varien/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/varien/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mage/translate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mage/cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/VS/ajaxwishlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/VS/addtocart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/noconflict.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.ui.touch-punch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.rw-preloader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/hammer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.flexslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.jcarousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/cloudzoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.countTo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.isotope.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.inview.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/hoverIntent.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.hoverfold.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/superfish.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/supersubs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.countdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/smoothslides.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/megatron.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/etheme/megatron/retina-replace.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/varien/product.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/varien/configurable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar/calendar-setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'skin/frontend/base/default/js/amasty/amajaxlogin/amAjaxLogin.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom/js/bootstrap-slider.min.js' %}"></script>
    <!-- <script type="text/javascript" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/base/default/js/lib/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/base/default/js/app.js"></script>
    <script type="text/javascript" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/base/default/js/lib/imagesloaded.js"></script> -->
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/css/styles-ie.css" media="all" />
    <![endif]-->
    <!--[if lt IE 7]>
        <script type="text/javascript" src="http://demo.ethemeuk.com/megatron/magento/demo/js/lib/ds-sleight.js"></script>
        <script type="text/javascript" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/base/default/js/ie6.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://demo.ethemeuk.com/megatron/magento/demo/js/etheme/megatron/html5shiv.js"></script>
        <script type="text/javascript" src="http://demo.ethemeuk.com/megatron/magento/demo/js/etheme/megatron/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    jQuery.countdown.regionalOptions['lang'] = {
        labels: ['Years', 'Months', 'Weeks', 'Days', 'Hours', 'Minutes', 'Seconds'],
        labels1: ['Year', 'Month', 'Week', 'Day', 'Hour', 'Minute', 'Second'],
        compactLabels: ['y', 'm', 'w', 'd'],
        whichLabels: null,
        digits: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'],
        timeSeparator: ':',
        isRTL: false
    };
    jQuery.countdown.setDefaults(jQuery.countdown.regionalOptions['lang']);
    </script>
    <script type="text/javascript">
    //<![CDATA[
        Mage.Cookies.path = '/megatron/magento/demo';
        Mage.Cookies.domain = '.demo.ethemeuk.com';
    //]]>
    </script>
    <script type="text/javascript">
    //<![CDATA[
        optionalZipCountries = ["HK", "IE", "MO", "PA"];
    //]]>
    </script>
    <div style="display: none !important;">
        <img src=" http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/base/default/images/amasty/amajaxlogin/error.png " alt='' />
        <img src=" http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/base/default/images/amasty/amajaxlogin/success.png " alt='' />
    </div>
    <script type="text/javascript">
    var AmAjaxLoginObj = new AmAjaxLogin({
        "send_url": "http:\/\/demo.ethemeuk.com\/megatron\/magento\/demo\/index.php\/amajaxlogin\/ajaxlogin\/index\/",
        "src_image_progress": "http:\/\/demo.ethemeuk.com\/megatron\/magento\/demo\/skin\/frontend\/base\/default\/images\/amasty\/loading.gif",
        "error": " \u2191 This is a required field."
    });
    </script>
    <script type="text/javascript">
    //<![CDATA[
        var Translator = new Translate([]);
    //]]>
    </script>
    <link href='//fonts.googleapis.com/css?family=Jura' rel='stylesheet'>
    <!-- <link type="text/css" href="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/css/colors/colors_default.css" rel="stylesheet" /> -->
</head>

<body class="responsive cms-index-index cms-mtron-home-fast">
    <div class="loader">
        <div class="bubblingG">
            <span id="bubblingG_1"></span>
            <span id="bubblingG_2"></span>
            <span id="bubblingG_3"></span>
        </div>
    </div>
    <div id="outer">
        <div id="outer-canvas">
            <noscript>
                <div class="global-site-notice noscript">
                    <div class="notice-inner">
                        <p>
                            <strong>JavaScript seems to be disabled in your browser.</strong><br /> You must have JavaScript enabled in your browser to utilize the functionality of this website.
                        </p>
                    </div>
                </div>
            </noscript>
            <div id="preloader">
                <div class="loader" style="display: none"><img width="32" height="32" alt="" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/images/ajax/ajax-loader.gif" /></div>
                <div class="message" style="display: none">
                    <div class="inside"></div>
                </div>
            </div>
            <header class="variant4">
                <!-- Back to top -->
                <div class="back-to-top"><span class="icon-arrow-up-4"></span></div>
                <!-- //end Back to top -->

                <section class="navbar">
                    <div class="background">
                        <div class="container">
                            <div class="wrappertop">
                                <!-- Logo -->
                                <div class="navbar-logo pull-left ">
                                    <a href="/" class="logo">
                                        <!-- <img src="http://www.algoscale.com/wp-content/uploads/2014/07/new_logo.png" alt="logo" /> -->
                                    </a>
                                </div>
                                <!-- //end Logo -->
                                <a href="/">
                                <div class="navbar-welcome pull-left compact-hidden hidden-xs"><img height="40" width="40" src="/static/images/logo.png"> Heal the World!</div>
                                </a>
                                <div class="clearfix visible-sm"></div>
                                {% if user.is_authenticated %}
                                <div class="navbar-secondary-menu pull-right hidden-xs">
                                    <div class="btn-group compact-hidden btn-hidden" id="toplinks">
                                        <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-vcard"></span> Account
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <!-- <li class="first"><a href="/" title="My Account">My Account</a></li> -->
                                            <li><a href="/orders/" title="My Orders">My Orders</a></li>
                                            <li><a href="/cart/" title="My Cart" class="top-link-cart">My Cart</a></li>
                                            <li><a href="/credits/" title="My Credits">My Credits</a></li>
                                            <li><a href="/hospitals/" title="My Hospital">My Hospital</a></li>
                                            <li><a href="/checkout/" title="Checkout" class="top-link-checkout">Checkout</a></li>
                                            <li class="divider"></li>
                                            <li class=" last"><a href="{% url 'auth_logout' %}?next=/" title="Log Out">Log Out</a></li>
                                            <li class=" last"><a href="{% url 'auth_password_change' %}" title="password change">Password Change</a></li>
                                        </ul>
                                    </div>
                                    <!-- <div class="btn-group compact-hidden block-compare btn-hidden">
                                        <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-justice"></span> Compare (0)&#x200E;
                                            <span class="caret"></span>
                                        </a>
                                        <div class="dropdown-menu pull-right shoppingcart-box empty" role="menu">
                                            <p class="empty">You have no items to compare.</p>
                                        </div>
                                    </div> -->
                                    <div class="btn-group " id="shopping_cart">
                                        {% if cart.products %}
                                            <a href="/cart/" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="icon-xcart-animate">
                                                    <span class="box">{{ cart.total_no_items }}</span>
                                                    <span class="handle"></span>
                                                </span>
                                            </a>

                                            <div class="dropdown-menu pull-right shoppingcart-box" role="menu">
                                                Recently added item(s)
                                                <ul class="list">
                                                    {% for product in cart.products %}
                                                    <li class="item">
                                                        <div class="icon-product-edit">
                                                            <a class="icon icon-edit" href="/product/{{ product.product_url }}"></a>
                                                        </div>
                                                        <div class="icon-product-delete">
                                                            <a href="#" class="icon icon-trash-2" userproduct-delete="{{ product.product_id }}_{{ product.supplierid }}"></a>
                                                        </div>
                                                        <a href="{{ product_url }}" class="preview-image">
                                                            <img class="preview" src="{{ product.product_image }}"  alt="{{ product.product_name }}" />
                                                        </a>
                                                        <div class="description">
                                                            <a href="{{ product.product_url }}" class="product-name">{{ product.product_name }}</a>
                                                            <div class="product-price">
                                                                {{ product.quantity }} x <span class="price">${{ product.price }}</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="total">
                                                    Total: {{ cart.total_no_items }} items - <span class="price">${{ cart.total_price }}</span>
                                                </div>
                                                <a href="/checkout/" class="btn btn-mega">Proceed to Checkout</a>
                                                <div class="view-link">
                                                    <a href="/cart/">View shopping cart </a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="icon-xcart-animate">
                                                    <span class="box">0</span>
                                                    <span class="handle"></span>
                                                </span>
                                            </a>
                                            <div class="dropdown-menu pull-right shoppingcart-box" role="menu">
                                                <span class="empty">You have no items in your shopping cart.</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                <!-- //end Search -->
                            </div>
                        </div>
                        <!-- MEGAMENU -->
                        {% if user.is_authenticated %}
                            <div class="navbar-main-menu-outer hidden-xs">
                                <div class="container">
                                    <dl class="navbar-main-menu">
                                        <!-- categories -->
                                        {% for item in res %}
                                            {% if item.id < 6 %} 
                                                <dt class="item with-sub level0 nav-{{ item.id }} first parent">
                                                    <a href="#" class="btn-main line">
                                                        {{ item.name }}
                                                    </a>
                                                    <dd class="item-content">
                                                        <div class="navbar-main-submenu">
                                                            <div class="wrapper-border">
                                                                <div class="row">
                                                                    <!-- sub-caregories -->
                                                                    <div class="col-xs-12">
                                                                        <div class="row">
                                                                            {% for item_child in item.child %}
                                                                            <div class="col-xs-4 col-md-4 col-lg-4">
                                                                                <div class="level1 nav-1-{{ item_child.id }} parent submenu-block">
                                                                                    <ul>
                                                                                        <span class="glyphicon glyphicon-asterisk"></span>
                                                                                        <a href="/products/?categories={{item_child.unspsc}}" class="name">
                                                                                            {{ item_child.name }}
                                                                                        </a>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="col-xs-1">
                                                                        <div class='img-fullheight'>
                                                                            <img class='img-responsiv' src='http://www.mendell.com/images/Orthopedics.jpg' alt=''>
                                                                        </div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </dd>
                                                </dt>
                                            {% endif %}
                                        {% endfor %}
                                        <dt class="item with-sub level0 nav-3 last parent">
                                            <a href="#" class="btn-main line">Others</a>
                                            <dd class="item-content">
                                                <div class="navbar-main-submenu">
                                                    <div class="wrapper-border">
                                                        <div class="row">
                                                            <!-- caregories -->
                                                            <div class="col-xs-12">
                                                                <div class="row">
                                                                    {% for item in res %}
                                                                        {% if item.id >= 6 %}
                                                                            <div class="col-xs-6 col-md-4 col-lg-3">
                                                                                <div class="level1 nav-1-{{ item.id }} parent submenu-block">
                                                                                    <ul>
                                                                                        <span class="glyphicon glyphicon-asterisk">&nbsp;</span>
                                                                                        <a href="/subcategory/?subcategory={{ item.id }}" class="name">
                                                                                            {{ item.name }}
                                                                                        </a>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dt>
                                        <dd></dd>
                                    </dl>
                                </div>
                            </div>
                        {% endif %}
                        <!-- //end MEGAMENU -->
                    </div>
                    <!-- Mobile menu -->
                    {% if user.is_authenticated %}
                    <div class="container visible-xs">
                        <div class="mobile-nav row">
                            <div class="nav-item item-01">
                                <a href="#" id="off-canvas-menu-toggle">
                                    <span class="icon icon-list-4"></span>
                                </a>
                            </div>
                            <div class="nav-item item-02">
                                <a href="#">
                                    <span class="icon icon-vcard"></span>
                                </a>
                                <div class="tab-content">
                                    <ul class="menu-list">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="/orders/">My Orders</a></li>
                                        <li><a href="/cart/">My Checkout</a></li>
                                        <li><a href="/credits/">My Credits</a></li>
                                        <li><a href="/checkout/">Checkout</a></li>
                                        <li><a href="{% url 'auth_logout' %}?next=/" title="Log Out">Log Out</a></li>
                                        <li><a href="{% url 'auth_password_change' %}" title="password change">Password Change</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-item item-03">
                                <a href="#">
                                    <span class="icon icon-search-2"></span>
                                </a>
                                <div class="tab-content">
                                    <form class="navbar-search form-inline" role="form" action="http://demo.ethemeuk.com/megatron/magento/demo/index.php/catalogsearch/result/" method="get">
                                        <div class="form-group">
                                            <button type="submit" class="button"><span class="icon-search-2"></span></button>
                                            <input type="text" class="form-control" placeholder="Search" name="q" maxlength="128">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="nav-item item-04">
                                {% if cart.products %}
                                    <a href="#" class="cart_mob_count">
                                        <span class="icon-xcart-white">{{ cart.total_no_items }}</span>
                                    </a>
                                    <div class="tab-content">
                                        <div class="shoppingcart-box">
                                            <div class="title">Recently added item(s)</div>
                                            <ul class="list">
                                                {% for product in cart.products %}
                                                <li class="item">
                                                    <div class="icon-product-edit">
                                                        <a class="icon icon-edit" href="{{ product.product_url }}"></a>
                                                    </div>
                                                    <div class="icon-product-delete">
                                                        <a class="icon icon-trash-2" href="#" userproduct-delete="{{ product.product_id }}_{{ product.supplierid }}"></a>
                                                    </div>
                                                    <a href="{{ product.product_url }}" class="preview-image">
                                                        <img class="preview" src="{{ product.product_image }}"  alt="{{ product.product_name }}" />
                                                    </a>
                                                    <div class="description">
                                                        <a href="{{ product.product_url }}" class="product-name">{{ product.product_name }} </a>
                                                        <div class="product-price">
                                                            {{ product.quantity }} x <span class="price">${{ product.price }}</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="total">
                                                Total: {{ cart.total_no_items }} items - <span class="price">${{ cart.total_price }}</span>
                                            </div>
                                            <a href="/checkout/" class="btn btn-mega">Proceed to Checkout</a>
                                            <div class="view-link">
                                                <a href="/cart/">View shopping cart </a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="#" class="cart_mob_count">
                                        <span class="icon-xcart-white">0</span>
                                    </a>
                                    <div class="tab-content">
                                        <div class="shoppingcart-box">
                                            <span class="empty">You have no items in your shopping cart.</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- //end Mobile menu -->
                    <!-- Navbar switcher -->
                    <!-- <div class="navbar-switcher-container">
                        <div class="navbar-switcher">
                            <span class="i-inactive">
                                <img src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/images/icon-megatron.png" width="35" height="35" alt="">
                            </span>
                            <span class="i-active icon-cancel-3"></span>
                        </div>
                    </div> -->
                    <!-- //end Navbar switcher -->
                </section>

                <!-- Navbar height -->
                <div class="navbar-height"></div>
                <!-- Navbar height -->
            </header>
            <div id="content">
                {% block content %}{% endblock %}
            </div>1
            <footer>
                <section class="footer-navbar dark">
                    <div class="container content nopad-xs">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                                <div class="tabBlock" id="TabBlock-3">
                                    <ul class="menu">
                                        <li><a href="/aboutus/">About Us</a></li>
                                        <li><a href="/shipping/">Shipping &amp; Returns</a></li>
                                        <li><a href="/privacy/">Privacy Notice</a></li>
                                        <li><a href="/conditions/">Conditions of Use</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3><span class="attention"><span class="attention_icon"></span></span>Customer service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                                <div class="tabBlock" id="TabBlock-4">
                                    <ul class="menu">
                                        <li><a href="/support/">Online support</a></li>
                                        <li><a href="/help/">Help & FAQs</a></li>
                                        <li><a href="/contact/">Contact Us </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>My account<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
                                <div class="tabBlock" id="TabBlock-5">
                                    <ul class="menu">
                                        <!-- <li><a href="/">My Account </a> </li> -->
                                        <li><a href="/orders/">Order History</a> </li>
                                        <!-- <li><a href="#">Wish List</a> </li> -->
                                        <!-- <li><a href="#">Site Map </a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>Contact Us<a class="expander visible-xs" href="#TabBlock-6">+</a></h3>
                                <div class="tabBlock" id="TabBlock-6">
                                    <ul class="menu">
                                        <li><span class="icon icon-house"></span> Address of the client HQ </li>
                                        <li><span class="icon icon-phone-4"></span> xxxxxxxxx, xxxxxxxx</li>
                                        <li><span class="icon icon-envelop"></span> <a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                                        <li><span class="icon icon-skype-2"></span> <a href="skype:shop.test">shop.test</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
           <!--      <section class="footer-bottom-block container">
                    <div class="row">
                        <div class="col-sm-3 col-md-8"> -->
                            <!-- Select Store: -->
                            <!-- <div class="btn-group btn-select dropup">
                                <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="value">
                                        <span class="caret min"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=blue">Blue</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=catalogmode">Catalog Mode</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=cloudzoom">Cloudzoom</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=corporative">Corporate</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=creative">Creative</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=electronics">Electronics</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fixedbg">Fixed Bg</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fluidchat">Fluid Chat</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=food">Food</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=green">Green</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=isotope">Isotope</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=kids">Kids</a> </li>
                                    <li> <a href="">Main Store</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=noresponsive">Noresponsive</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=red">Red</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=revolution">Revolution</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=rtl">RTL</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=simpleslider">Simple Slider</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=sliderwithbanners">Slider with Banners</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=violet">Violet</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=width1400">Width 1400</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=width1600">Width 1600</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=withleftcolumn">With Left Column</a> </li>
                                    <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=yellow">Yellow</a> </li>
                                </ul>
                            </div> -->
                        <!-- </div> --><!-- 
                        <div class="col-sm-4 col-md-4">
                            <ul class="payment-list pull-right">
                                <li><img src="http://demo.ethemeuk.com/megatron/magento/demo/media/wysiwyg/icon-payment-01.png" width="36" height="22" alt=""></li>
                                <li><img src="http://demo.ethemeuk.com/megatron/magento/demo/media/wysiwyg/icon-payment-02.png" width="36" height="22" alt=""></li>
                                <li><img src="http://demo.ethemeuk.com/megatron/magento/demo/media/wysiwyg/icon-payment-03.png" width="36" height="22" alt=""></li>
                                <li><img src="http://demo.ethemeuk.com/megatron/magento/demo/media/wysiwyg/icon-payment-04.png" width="36" height="22" alt=""></li>
                                <li><img src="http://demo.ethemeuk.com/megatron/magento/demo/media/wysiwyg/icon-payment-05.png" width="36" height="22" alt=""></li>
                            </ul>
                        </div> -->
                    <!-- </div>
                </section> -->
            <!-- </footer> -->
        </div>
    </div>
    <script type="text/javascript">
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        function userProductDelete(deleteId) {
            var url = window.location.protocol+'//'+window.location.hostname+':'+window.location.port+'/userproduct/delete/'
            var data = {
                id: deleteId
            }
            jQuery.ajax({
                url: url,
                type: 'post',
                headers: {
                    "X-CSRFToken":  getCookie('csrftoken')
                },
                data: data,
                success: function(data) {
                    data = JSON.parse(data)
                    if (jQuery('#shopping_cart')) {
                        jQuery('#shopping_cart').replaceWith(data.sidebar);
                        jQuery('#shopping_cart').click(function() {
                            jQuery(this).toggleClass('open')
                        })

                        jQuery("[userproduct-delete]").on('click', function() {
                            var deleteId = jQuery(this).attr("userproduct-delete")
                            userProductDelete(deleteId)
                        })
                    }

                    if (jQuery('.nav-item.item-04')) {
                        jQuery('.nav-item.item-04').html(data.topcart_mobile_block);
                    }
                }
            })
        }

        jQuery('#shopping_cart').click(function() {
            jQuery(this).toggleClass('open')
        })

        jQuery("[userproduct-delete]").on('click', function() {
            var deleteId = jQuery(this).attr("userproduct-delete")
            userProductDelete(deleteId)
        })
    </script>
</body>

</html>
