<div class="btn-group " id="shopping_cart">
    {% if products %}
        <a href="#"  class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="icon-xcart-animate">
                <span class="box">{{ total_no_items }}</span>
                <span class="handle"></span>
            </span>
        </a>
        <div class="dropdown-menu pull-right shoppingcart-box" role="menu">
            Recently added item(s)
            <ul class="list">
                {% for product in products %}
                <li class="item">
                    <div class="icon-product-edit">
                        <a class="icon icon-edit" href="{{ product.product_url }}"></a>
                    </div>
                    <div class="icon-product-delete">
                        <a href="#" class="icon icon-trash-2" userproduct-delete="{{ product.product_id }}_{{ product.supplierid }}"></a>
                    </div>
                    <a href="{{ product_url }}" class="preview-image">
                        <img class="preview" src="{{ product.product_image }}"  alt="{{ product.product_name }}" />
                    </a>
                    <div class="description">
                        <a href="{{ product.product_url }}" class="product-name">{{ product.product_name }}</a>
                        <div class="product-price">
                            {{ product.quantity }} x <span class="price">${{ product.price }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="total">
                Total: {{ total_no_items }} items - <span class="price">${{ total_price }}</span>
            </div>
            <a href="/checkout/" class="btn btn-mega">Proceed to Checkout</a>
            <div class="view-link">
                <a href="/cart/">View shopping cart </a>
            </div>
        </div>
    {% else %}
        <a href="#" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="icon-xcart-animate">
                <span class="box">0</span>
                <span class="handle"></span>
            </span>
        </a>
        <div class="dropdown-menu pull-right shoppingcart-box" role="menu">
            <span class="empty">You have no items in your shopping cart.</span>
        </div>
    {% endif %}
</div>
