{% extends "base.html" %}
{% block content %}
<section class="container content">
            <div class="row">
                <!-- Left column -->
                <aside class="col-sm-4 col-md-3 col-lg-3 content-aside">
                    <div class="block block-account">
    <div class="block-title">
        <strong><span>My Account</span></strong>
    </div>
    <div class="block-content">
        <ul>
                                                                                                    <li class="current"><strong>Account Dashboard</strong></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/account/edit/">Account Information</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/address/">Address Book</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/sales/order/history/">My Orders</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/sales/billing_agreement/">Billing Agreements</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/sales/recurring_profile/">Recurring Profiles</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/review/customer/">My Product Reviews</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tag/customer/">My Tags</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/wishlist/">My Wishlist</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/oauth/customer_token/">My Applications</a></li>
                                                                                <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/newsletter/manage/">Newsletter Subscriptions</a></li>
                                                                                <li class="last"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/downloadable/customer/products/">My Downloadable Products</a></li>
                                    </ul>
    </div>
</div>





<!-- Shop by categories -->
<div class="block block-navigation">
    <div class="block-title">
        <strong><span>SHOP BY CATEGORIES</span></strong>
    </div>
    <div class="block-content">
        <ul class="expander-list">
            <li class="level0 nav-1 first parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html">
Women
</a></span>
<ul class="level0">
<li class="level1 nav-1-1 first parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses.html">
<span class="icon m-icon-dress"></span>
Dresses
</a></span>
<ul class="level1">
<li class="level2 nav-1-1-1 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Club Dresses
</a></span>
</li><li class="level2 nav-1-1-2">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Evening Dresses
</a></span>
</li><li class="level2 nav-1-1-3 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Prom Dresses
</a></span>
</li>
</ul>
</li><li class="level1 nav-1-2 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts.html">
<span class="icon m-icon-shirts"></span>
Shirts
</a></span>
<ul class="level1">
<li class="level2 nav-1-2-4 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-1-2-5">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-1-2-6 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-1-3 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats.html">
<span class="icon m-icon-coats"></span>
Coats
</a></span>
<ul class="level1">
<li class="level2 nav-1-3-7 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-1-3-8">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-1-3-9 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-1-4 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets.html">
<span class="icon m-icon-jackets"></span>
Jackets
</a></span>
<ul class="level1">
<li class="level2 nav-1-4-10 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-1-4-11">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-1-4-12 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-1-5 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts.html">
<span class="icon m-icon-shorts"></span>
Shorts
</a></span>
<ul class="level1">
<li class="level2 nav-1-5-13 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-1-5-14">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-1-5-15 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-1-6 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans.html">
<span class="icon m-icon-jeans"></span>
Jeans
</a></span>
<ul class="level1">
<li class="level2 nav-1-6-16 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-1-6-17">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans/empty-category-30.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-1-6-18 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-1-7 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts.html">
<span class="icon m-icon-skirts"></span>
Skirts
</a></span>
<ul class="level1">
<li class="level2 nav-1-7-19 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-1-7-20">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-1-7-21 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-1-8 last parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie.html">
<span class="icon m-icon-lingerie"></span>
Lingerie
</a></span>
<ul class="level1">
<li class="level2 nav-1-8-22 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-1-8-23">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-1-8-24 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li>
</ul>
</li><li class="level0 nav-2 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men.html">
Men
</a></span>
<ul class="level0">
<li class="level1 nav-2-1 first parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts.html">
<span class="icon m-icon-dress"></span>
Polo Shirts
</a></span>
<ul class="level1">
<li class="level2 nav-2-1-1 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-1-2">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-1-3 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-2-2 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts.html">
<span class="icon m-icon-coats"></span>
Shirts
</a></span>
<ul class="level1">
<li class="level2 nav-2-2-4 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-2-5">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-2-6 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-2-3 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers.html">
<span class="icon m-icon-jackets"></span>
Jumpers
</a></span>
<ul class="level1">
<li class="level2 nav-2-3-7 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-3-8">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-3-9 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-2-4 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans.html">
<span class="icon m-icon-jeans"></span>
Jeans
</a></span>
<ul class="level1">
<li class="level2 nav-2-4-10 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-4-11">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-4-12 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-2-5 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets.html">
<span class="icon m-icon-jackets"></span>
Jackets
</a></span>
<ul class="level1">
<li class="level2 nav-2-5-13 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-5-14">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-5-15 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-2-6 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts.html">
<span class="icon m-icon-shorts"></span>
Shorts
</a></span>
<ul class="level1">
<li class="level2 nav-2-6-16 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-6-17">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-6-18 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-2-7 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes.html">
<span class="icon m-icon-lingerie"></span>
Shoes
</a></span>
<ul class="level1">
<li class="level2 nav-2-7-19 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-7-20">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-7-21 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level1 nav-2-8 last parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies.html">
<span class="icon m-icon-skirts"></span>
Hoodies
</a></span>
<ul class="level1">
<li class="level2 nav-2-8-22 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-2-8-23">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level2 nav-2-8-24 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li>
</ul>
</li><li class="level0 nav-3 last parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel.html">
Others
</a></span>
<ul class="level0">
<li class="level1 nav-3-1 first parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics.html">
<span class="icon empty">&nbsp;</span>
Electronics
</a></span>
<ul class="level1">
<li class="level2 nav-3-1-1 first parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones.html">
<span class="icon empty">&nbsp;</span>
Cell Phones
</a></span>
<ul class="level2">
<li class="level3 nav-3-1-1-1 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level3 nav-3-1-1-2">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level3 nav-3-1-1-3">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li><li class="level3 nav-3-1-1-4">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-4.html">
<span class="icon empty">&nbsp;</span>
Empty category #4
</a></span>
</li><li class="level3 nav-3-1-1-5">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-5.html">
<span class="icon empty">&nbsp;</span>
Empty category #5
</a></span>
</li><li class="level3 nav-3-1-1-6">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-6.html">
<span class="icon empty">&nbsp;</span>
Empty category #6
</a></span>
</li><li class="level3 nav-3-1-1-7">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-7.html">
<span class="icon empty">&nbsp;</span>
Empty category #7
</a></span>
</li><li class="level3 nav-3-1-1-8">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-8.html">
<span class="icon empty">&nbsp;</span>
Empty category #8
</a></span>
</li><li class="level3 nav-3-1-1-9">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-9.html">
<span class="icon empty">&nbsp;</span>
Empty category #9
</a></span>
</li><li class="level3 nav-3-1-1-10 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-10.html">
<span class="icon empty">&nbsp;</span>
Empty category #10
</a></span>
</li>
</ul>
</li><li class="level2 nav-3-1-2 last parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers.html">
<span class="icon empty">&nbsp;</span>
Computers
</a></span>
<ul class="level2">
<li class="level3 nav-3-1-2-11 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/build-your-own.html">
<span class="icon empty">&nbsp;</span>
Build Your Own
</a></span>
</li><li class="level3 nav-3-1-2-12">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/laptops.html">
<span class="icon empty">&nbsp;</span>
Laptops
</a></span>
</li><li class="level3 nav-3-1-2-13">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/hard-drives.html">
<span class="icon empty">&nbsp;</span>
Hard Drives
</a></span>
</li><li class="level3 nav-3-1-2-14">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/monitors.html">
<span class="icon empty">&nbsp;</span>
Monitors
</a></span>
</li><li class="level3 nav-3-1-2-15">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/ram-memory.html">
<span class="icon empty">&nbsp;</span>
RAM / Memory
</a></span>
</li><li class="level3 nav-3-1-2-16">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/cases.html">
<span class="icon empty">&nbsp;</span>
Cases
</a></span>
</li><li class="level3 nav-3-1-2-17">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/processors.html">
<span class="icon empty">&nbsp;</span>
Processors
</a></span>
</li><li class="level3 nav-3-1-2-18">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/peripherals.html">
<span class="icon empty">&nbsp;</span>
Peripherals
</a></span>
</li><li class="level3 nav-3-1-2-19">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/accessories.html">
<span class="icon empty">&nbsp;</span>
Accessories
</a></span>
</li><li class="level3 nav-3-1-2-20 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/digital-cameras.html">
<span class="icon empty">&nbsp;</span>
Digital Cameras
</a></span>
</li>
</ul>
</li>
</ul>
</li><li class="level1 nav-3-2 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture.html">
<span class="icon empty">&nbsp;</span>
Apparel
</a></span>
<ul class="level1">
<li class="level2 nav-3-2-3 first parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room.html">
<span class="icon empty">&nbsp;</span>
Dresses
</a></span>
<ul class="level2">
<li class="level3 nav-3-2-3-21 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level3 nav-3-2-3-22">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level3 nav-3-2-3-23 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li><li class="level2 nav-3-2-4 last parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom.html">
<span class="icon empty">&nbsp;</span>
 Shirts
</a></span>
<ul class="level2">
<li class="level3 nav-3-2-4-24 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level3 nav-3-2-4-25">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li><li class="level3 nav-3-2-4-26 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom/empty-category-3.html">
<span class="icon empty">&nbsp;</span>
Empty category #3
</a></span>
</li>
</ul>
</li>
</ul>
</li><li class="level1 nav-3-3 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shirts.html">
<span class="icon empty">&nbsp;</span>
Shirts
</a></span>
<ul class="level1">
<li class="level2 nav-3-3-5 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shirts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-3-6 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shirts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-4 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shoes.html">
<span class="icon empty">&nbsp;</span>
Shoes
</a></span>
<ul class="level1">
<li class="level2 nav-3-4-7 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shoes/mens.html">
<span class="icon empty">&nbsp;</span>
Mens
</a></span>
</li><li class="level2 nav-3-4-8 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shoes/womens.html">
<span class="icon empty">&nbsp;</span>
Womens
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-5 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/hoodies.html">
<span class="icon empty">&nbsp;</span>
Hoodies
</a></span>
<ul class="level1">
<li class="level2 nav-3-5-9 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/hoodies/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-5-10 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/hoodies/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-6 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/coats.html">
<span class="icon empty">&nbsp;</span>
Coats
</a></span>
<ul class="level1">
<li class="level2 nav-3-6-11 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/coats/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-6-12 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/coats/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-7 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jackets.html">
<span class="icon empty">&nbsp;</span>
Jackets
</a></span>
<ul class="level1">
<li class="level2 nav-3-7-13 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jackets/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-7-14 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jackets/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-8 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shorts.html">
<span class="icon empty">&nbsp;</span>
Shorts
</a></span>
<ul class="level1">
<li class="level2 nav-3-8-15 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shorts/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-8-16 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shorts/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-9 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jeans.html">
<span class="icon empty">&nbsp;</span>
Jeans
</a></span>
<ul class="level1">
<li class="level2 nav-3-9-17 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jeans/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-9-18 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jeans/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-10 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-10-19 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-1/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-10-20 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-1/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-11 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-11-21 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-11-22 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category/empty-category-46.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-12 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-134.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-12-23 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-134/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-12-24 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-134/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-13 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-135.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-13-25 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-135/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-13-26 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-135/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-14 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-136.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-14-27 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-136/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-14-28 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-136/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-15 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-15-29 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-15-30 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-16 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-221.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-16-31 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-221/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-16-32 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-221/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-17 parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-222.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-17-33 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-222/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-17-34 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-222/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li><li class="level1 nav-3-18 last parent">
<span class="name">
<span class="expander">-</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-223.html">
<span class="icon empty">&nbsp;</span>
Empty
</a></span>
<ul class="level1">
<li class="level2 nav-3-18-35 first">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-223/empty-category-1.html">
<span class="icon empty">&nbsp;</span>
Empty category #1
</a></span>
</li><li class="level2 nav-3-18-36 last">
<span class="name">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-223/empty-category-2.html">
<span class="icon empty">&nbsp;</span>
Empty category #2
</a></span>
</li>
</ul>
</li>
</ul>
</li>        </ul>
    </div>
</div>
<!-- //end Shop by categories -->





<div class="block block-list block-viewed">
    <div class="block-title">
        <strong><span>Recently Viewed Products</span></strong>
    </div>
    <div class="block-content">
        <ol id="recently-viewed-items">
                    <li class="item">
                <p class="product-name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/paisley-print-stretch.html">Paisley-print stretch</a></p>
            </li>
                </ol>
        <script type="text/javascript">decorateList('recently-viewed-items');</script>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    function validatePollAnswerIsSelected()
    {
        var options = $$('input.poll_vote');
        for( i in options ) {
            if( options[i].checked == true ) {
                return true;
            }
        }
        return false;
    }
//]]>
</script>
<div class="block block-poll">
    <div class="block-title">
        <strong><span>Community Poll</span></strong>
    </div>
    <form id="pollForm" action="http://demo.ethemeuk.com/megatron/magento/demo/index.php/poll/vote/add/poll_id/2/" method="post" onsubmit="return validatePollAnswerIsSelected();">
        <div class="block-content">
            <p class="block-subtitle">What is your favorite Magento feature?</p>
                        <ul id="poll-answers">
                                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_5" value="5" />
                    <span class="label"><label for="vote_5">Layered Navigation</label></span>
                </li>
                                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_6" value="6" />
                    <span class="label"><label for="vote_6">Price Rules</label></span>
                </li>
                                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_7" value="7" />
                    <span class="label"><label for="vote_7">Category Management</label></span>
                </li>
                                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_8" value="8" />
                    <span class="label"><label for="vote_8">Compare Products</label></span>
                </li>
                            </ul>
            <script type="text/javascript">decorateList('poll-answers');</script>
                        <div class="actions">
                <button type="submit" title="Vote" class="button"><span><span>Vote</span></span></button>
            </div>
        </div>
    </form>
</div>
                </aside>
<section class="col-sm-8 col-md-9 col-lg-9 content-center">
                    <div class="my-account"><div class="dashboard">
    <div class="page-title">
        <h1>My Dashboard</h1>
    </div>
        <div class="welcome-msg">
    <p class="hello"><strong>Hello, Harshit Anand!</strong></p>
    <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>
</div>
        <div class="box-account box-info">
        <div class="box-head">
            <h2>Account Information</h2>
        </div>
                        <div class="col2-set">
    <div class="col-1">
        <div class="box">
            <div class="box-title">
                <h3>Contact Information</h3>
                <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/account/edit/">Edit</a>
            </div>
            <div class="box-content">
                <p>
                    Harshit Anand<br />
                    harshitanand94@gmail.com<br />
                    <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/account/edit/changepass/1/">Change Password</a>
                </p>
            </div>
        </div>
    </div>
        <div class="col-2">
        <div class="box">
            <div class="box-title">
                <h3>Newsletters</h3>
                <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/newsletter/manage/">Edit</a>
            </div>
            <div class="box-content">
                <p>
                                            You are currently not subscribed to any newsletter.                                    </p>
            </div>
        </div>
                    </div>
    </div>
        <div class="col2-set">
    <div class="box">
        <div class="box-title">
            <h3>Address Book</h3>
            <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/address/">Manage Addresses</a>
        </div>
        <div class="box-content">
            <div class="col-1">
                <h4>Default Billing Address</h4>
                <address>
                    You have not set a default billing address.<br />
                    <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/address/edit/">Edit Address</a>
                </address>
            </div>
            <div class="col-2">
                <h4>Default Shipping Address</h4>
                <address>
                    You have not set a default shipping address.<br />
                    <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/address/edit/">Edit Address</a>
                </address>
            </div>
        </div>
    </div>
</div>
    </div>
        </div>
<div class="amajaxlogin-block dashboard">
    <div class="box-account box-info">
        <div class="box-head">
            <h2>Social Connect</h2>
        </div>
        <div class="amajaxlogin-social-title box-title">
            You can connect store account with you Social account so you could login easier in the future.
        </div>
        <div class="amajaxlogin-social-icon">
                                                        <div id="am-ajax-twitter">
<div id="am-twitter-image" onclick="window.parent.AmAjaxLoginObj.loginTw(this);" data="http://demo.ethemeuk.com/megatron/magento/demo/index.php/amajaxlogin/twitter/login/" dataTw="https://api.twitter.com/oauth/authorize?oauth_token=">
    Sign in</div>
</div>

        </div>
        <div style="clear:both;"></div>
    </div>
</div></div></section>
             </div></section>
{% endblock %}