{% extends "nogpo/base.html" %} {% block content %} {% load mathfilters %}
<section class="container" style="margin-top:130px;">
    <div class="row">
        <br>
        <br>
        <br>
        <section class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <section class="content-box">
                <form action="/hospitals/" method="POST">
                    {% csrf_token %}
                    <!-- {{credit }} -->
                    <div class="row">
                        <div class="col-md-2">
                            Hospitals
                        </div>
                        <div class="col-md-10">
                            <select name="hospital_id" class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                {% for hospital in hospitals %}
                                    <option value="{{hospital.id}}">{{hospital.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Submit" class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                        </div>
                    </div>
                </form>
            </section>
        </section>
    </div>
</section>
{% endblock %}
