{% extends "nogpo/base.html" %} {% block content %} {% load mathfilters %}
<section class="container" style="margin-top:130px;">
    <div class="page-title">
        <h1>My Orders</h1>
    </div>
    <div class="orders">
        <table class="table">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Order Name</th>
                    <th>Order Qty</th>
                    <th>Order Supplier</th>
                </tr>
            </thead>
            <tbody>
            {% with cart.id as id %}
            {% for link in cart.products %}
                <tr>
                    <td>{{id}}</td>
                    <td>{{link.product_name}}</td>
                    <td>{{link.quantity}}</td>
                    <td>{{link.supplierid}}</td>
                </tr>
                {% endfor %}
            {% endwith %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
