{% extends "nogpo/base.html" %} {% block content %} {% load mathfilters %}
<section class="container" style="margin-top:130px;">
    <div class="page-title">
        <h1>My Orders</h1>
    </div>
    <div class="orders">
        <table class="table">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Order Products</th>
                    <th>Order Price</th>
                </tr>
            </thead>
            <tbody>
            {% for link in cart%}
                <tr>
                    <td><a href="/order/?id={{link.id}}">{{link.id}}</a></td>
                    <td>{{link.total_no_items}}</td>
                    <td>{{link.total_price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
