{% extends "nogpo/base.html" %} {% block content %} {% load mathfilters %}
<section class="container" style="margin-top:130px;">
    <div class="page-title">
        <h1>My Orders</h1>
    </div>
    
    <div id="content">
    {% for link in ocart%}
        <div class="row">
            <div class="col-md-6">
                Order ID: {{link.id}}        
            </div>
            <div class="col-md-6">
                Order Date: {{link.date}}
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                Order Price: {{link.total_price}}
            </div>
            <div class="col-md-6">
                Dispatched
            </div>
            
        </div>
    {% endfor %}
    </div>
    <div class="orders">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Supplier Id</th>
                </tr>
            </thead>
            <tbody>
            {% for link in ocart%}
            {% for linkp in link.products%}
                <tr>
                    <td>{{linkp.product_id}}</td>
                    <td>{{linkp.product_name}}</td>
                    <td>{{linkp.final_price}}</td>
                    <td>{{linkp.quantity}}</td>
                    <td>{{linkp.supplierid}}</td>
                </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
    