{% extends "nogpo/base.html" %} {% block content %} {% load mathfilters %}
<section class="container" style="margin-top:130px;">
    <div class="page-title">
        <h1>My Orders</h1>
    </div>
                        {% csrf_token %}

    <div class="orders">
        <table class="table">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Order Date</th>
                    <th>Total Products</th>
                    <th>Total Items</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for link in ordercart%}
                <!-- <a href="/order/?id={{link.id}}"> -->
                <tr onclick="location.href='/order/?id={{link.id}}';">
                    <td>{{link.id}}</td>
                    <td>{{link.date}}</td>
                    <td>{{link.unique_products}}</td>
                    <td>{{link.total_no_items}}</td>
                    <td>{{link.total_price}}</td>
                    <td>Dispatched by Vendor</td>
                </tr>
                <!-- </a> -->
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
