{% block content %}
<div class="navbar-main-menu-outer hidden-xs">
    <div class="container">
        <dl class="navbar-main-menu">


                <dt class="item">
<ul class="sf-menu">
    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/" class="btn-main"><span class="icon icon-home"></span></a>
        <ul>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default">Default</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=noresponsive">Noresponsive</a></li>

            <li>
<a>Slider</a>

                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=revolution">Revolution slider</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default">Revolution slider Advanced</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=sliderwithbanners">Slider with banners</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=simpleslider">Simpleslider</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=german">Megatron slider</a></li>
                </ul>
</li>



 <li>
<a>Cloudzoom</a>

                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=cloudzoom">Free</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=default">Paid</a></li>
                </ul>
</li>


  <li>
<a>Any Color</a>
                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=blue" class="item_blue">Blue</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=green" class="item_green">Green</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=yellow" class="item_yellow">Yellow</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=red" class="item_red">Red</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=violet" class="item_violet">Violet</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default" class="item_default">Default</a></li>
                </ul>
</li>



            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fluidchat">Fluid chat</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fixedbg">Boxed</a></li>


            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=width1400">Maximum width 1400</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=width1600">Maximum width 1600</a></li>

            <li>
                <a>Quick View </a>
                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=corporative">Popup</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=default">Inside</a></li>
                </ul>
            </li>
            <li>
                <a>Megamenu </a>
                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default">Type A</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=sliderwithbanners">Type B</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fluidchat">Simple</a></li>
                </ul>
            </li>
            <li>
                <a>Header</a>
                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default">Default</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=simpleslider">Minimize</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=revolution">Central Logo</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fluidchat">Informative</a></li>
                </ul>
            </li>

            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=catalogmode">Catalog Mode</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=rtl">Right To Left</a></li>
        </ul>
    </li>
</ul>
</dt>
<dd></dd>


<dt class="item">
<ul class="sf-menu">
    <li><a>Layouts</a>
        <ul>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default">Default</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=corporative">Corporate</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fixedbg">Background Isotope</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=creative">Creative</a></li>

            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=kids">Kids subtheme</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=food">Food subtheme</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=electronics">Electronics subtheme</a></li>


            <li><a>Columns</a>
                  <ul>
                          <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default">1 column</a></li>
                          <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=withleftcolumn">2 columns-left</a></li>
                          <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=fluidchat">2 columns-right</a></li>
                          <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=isotope">3 columns</a></li>

                  </ul>
            </li>
        </ul>
    </li>
</ul>
</dt>

<dd></dd>

<dt class="item">
<ul class="sf-menu">
    <li><a> Listing </a>
        <ul>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=default&amp;mode=grid"> Usual </a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men.html/?___store=default"> Without Left Column </a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=fluidchat&amp;mode=grid"> Small Previews </a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men.html/?___store=fluidchat&amp;mode=grid"> Small Previews Without Left Column </a></li>
            <li><a> Style </a>
<ul>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=default&amp;mode=grid">Grid</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=default&amp;mode=list">List</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=isotope&amp;mode=grid">Isotope</a>
<ul>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men.html/?___store=isotope&amp;mode=grid">With column</a></li>
<li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html/?___store=isotope&amp;mode=grid">Without column</a></li>
</ul>

</li>
</ul>
</li>

        </ul>
    </li>
</ul>
</dt>
<dd></dd>

<dt class="item">
<ul class="sf-menu">
    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=default">Product</a>
        <ul>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=revolution">Product Left Previews</a></li>
             <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=creative">No  Columns</a></li>
            <li><a>Product Related</a>
                <ul>
                    <li>
                        <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=revolution">Position Bottom</a>
                        <ul>
                            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=fixedbg">Style Big</a></li>
                            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=revolution">Style Small</a></li>
                        </ul>
                    </li>

                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=default">Position Right</a>
                        <ul>
                            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=creative">Style Visible 1</a></li>
                            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/featured-products/azrouel-dress.html/?___store=default">Style Visible 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li><a>Product Upsell</a>
                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tie-dye-silk-top.html/?___store=fixedbg">Style Big</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tie-dye-silk-top.html/?___store=default">Style Small</a></li>
                </ul>
            </li>

            <li><a>Product Tabs</a>
                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tie-dye-silk-top.html/?___store=revolution">Horizontal</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tie-dye-silk-top.html/?___store=default">Vertical</a></li>
                </ul>
            </li>

            <li><a>Product Video</a>
                <ul>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tie-dye-silk-top.html/?___store=default">With thumbnails</a></li>
                    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tie-dye-silk-top.html/?___store=revolution">Under tabs</a></li>
                </ul>
            </li>

            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/tie-dye-silk-top.html/?___store=corporative">Product Advanced</a></li>

        </ul>
    </li>
</ul>
</dt>

<dd></dd>

<dt class="item">
<ul class="sf-menu">
    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/blog/?___store=default">Blog</a>
        <ul>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/blog/?___store=creative">Table View</a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/blog?p=13/">Single Post</a></li>
        </ul>
    </li>
</ul>
</dt>

<dd></dd>

<dt class="item">
<ul class="sf-menu">
    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_gallery_3d?___store=default ">Gallery</a>

        <ul>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_gallery_3d?___store=default">Gallery: 3D Effect </a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_gallery_2_columns?___store=creative"> Gallery: 2 Columns </a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_gallery_3_columns?___store=sliderwithbanners"> Gallery: 3 Columns </a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_gallery_4_columns?___store=fluidchat"> Gallery: 4 Columns </a></li>
            <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_gallery_4_columns?___store=isotope"> Gallery: 4 Columns no space </a></li>

        </ul>
    </li>
</ul>
</dt>

<dd></dd>

<dt class="item">
<ul class="sf-menu">
    <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_pages/">Pages</a>


        <ul>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_pages/">Typography</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_infographic/">Infographic</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_our_office/">Our Office</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_our_store/">Our Store</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_our_services/">Our Services</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/customer/account">Login</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_team_members/">Team Members</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/checkout/cart/">Shopping Cart</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_pricing_tables/">Pricing Tables </a> </span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_video_section/"> Video section </a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_faq/">Faq</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/megatron_delivery/">Delivery</a></span></li>
            <li><span class="name"><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/catalog/seo_sitemap/category"> Sitemap</a></span>
            </li>
        </ul>


    </li>
</ul>
</dt>

<dd></dd>




    <dt class="item with-sub level0 nav-1 first parent">
<a href="#" class="btn-main line">
Women
</a>
<dd class="item-content">
                <div class="navbar-main-submenu"> <a href="#" class="button-up"><span class="icon-arrow-up-3"></span> </a>
<ul class="exclusive toplevelcategory">
                    <li><span class="icon icon-coins"></span><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women.html">
View All
Women
</a></li>
                  </ul>
<ul class="exclusive">
<li><span class="icon icon-dropbox"></span> <a href="#">Gifts exclusive</a></li>
<li><span class="icon icon-coins"></span> <a href="#">Offers</a></li>
</ul>
<div class="wrapper-border">
                    <div class="row">

            <!-- caregories -->
            <div class="col-xs-9">
                        <div class="row">

<div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-1 first parent submenu-block">
<span class="icon m-icon-dress"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses.html" class="name">
Dresses
</a>
<ul class="level1">
<li class="level2 nav-1-1-1 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses/empty-category-1.html">
Club Dresses
</a><li class="level2 nav-1-1-2">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses/empty-category-2.html">
Evening Dresses
</a><li class="level2 nav-1-1-3 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/dresses/empty-category-3.html">
Prom Dresses
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-2 parent submenu-block">
<span class="icon m-icon-shirts"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts.html" class="name">
Shirts
</a>
<ul class="level1">
<li class="level2 nav-1-2-4 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-1-2-5">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-1-2-6 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shirts/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-3 parent submenu-block">
<span class="icon m-icon-coats"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats.html" class="name">
Coats
</a>
<ul class="level1">
<li class="level2 nav-1-3-7 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-1-3-8">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-1-3-9 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/coats/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-4 parent submenu-block">
<span class="icon m-icon-jackets"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets.html" class="name">
Jackets
</a>
<ul class="level1">
<li class="level2 nav-1-4-10 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-1-4-11">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-1-4-12 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jackets/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-5 parent submenu-block">
<span class="icon m-icon-shorts"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts.html" class="name">
Shorts
</a>
<span class="label label-mega">-15%</span>
<ul class="level1">
<li class="level2 nav-1-5-13 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-1-5-14">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-1-5-15 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/shorts/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-6 parent submenu-block">
<span class="icon m-icon-jeans"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans.html" class="name">
Jeans
</a>
<ul class="level1">
<li class="level2 nav-1-6-16 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-1-6-17">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans/empty-category-30.html">
Empty category #2
</a><li class="level2 nav-1-6-18 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/jeans/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-7 parent submenu-block">
<span class="icon m-icon-skirts"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts.html" class="name">
Skirts
</a>
<ul class="level1">
<li class="level2 nav-1-7-19 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-1-7-20">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-1-7-21 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/skirts/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-1-8 last parent submenu-block">
<span class="icon m-icon-lingerie"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie.html" class="name">
Lingerie
</a>
<ul class="level1">
<li class="level2 nav-1-8-22 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-1-8-23">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-1-8-24 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/women/lingerie/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div>

                        </div>
                      </div>
                      <!-- //end caregories -->

                      <!-- html block -->

<div class="col-xs-3">
<div class='img-fullheight'> <img class='img-responsiv' src='http://demo.ethemeuk.com/megatron/magento/demo/media/wysiwyg/menu-img-right.png' alt=''></div>
</div>
<!-- //end html block -->


                    </div>
                  </div>
<ul class="exclusive">
<li><span class="icon icon-tag "></span> <a href="#">SPECIAL OFFER</a></li>
<li><span class="icon icon-sale"></span> <a href="#">UP TO 50% OFF DISCOUNTS</a></li>
</ul>
 </div>
                    </dd><dt class="item with-sub level0 nav-2 parent">
<a href="#" class="btn-main line">
Men
</a>
<dd class="item-content">
                <div class="navbar-main-submenu"> <a href="#" class="button-up"><span class="icon-arrow-up-3"></span> </a>
<ul class="exclusive toplevelcategory">
                    <li><span class="icon icon-coins"></span><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men.html">
View All
Men
</a></li>
                  </ul>
<ul class="exclusive">
<li><span class="icon icon-dropbox"></span> <a href="#">Gifts exclusive</a></li>
<li><span class="icon icon-coins"></span> <a href="#">Offers</a></li>
</ul>
<div class="wrapper-border">
                    <div class="row">

            <!-- caregories -->
            <div class="col-xs-9">
                        <div class="row">

<div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-1 first parent submenu-block">
<span class="icon m-icon-dress"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts.html" class="name">
Polo Shirts
</a>
<ul class="level1">
<li class="level2 nav-2-1-1 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-1-2">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-1-3 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/polo-shirts/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-2 parent submenu-block">
<span class="icon m-icon-coats"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts.html" class="name">
Shirts
</a>
<span class="label label-mega">-20%</span>
<ul class="level1">
<li class="level2 nav-2-2-4 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-2-5">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-2-6 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shirts/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-3 parent submenu-block">
<span class="icon m-icon-jackets"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers.html" class="name">
Jumpers
</a>
<ul class="level1">
<li class="level2 nav-2-3-7 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-3-8">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-3-9 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jumpers/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-4 parent submenu-block">
<span class="icon m-icon-jeans"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans.html" class="name">
Jeans
</a>
<ul class="level1">
<li class="level2 nav-2-4-10 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-4-11">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-4-12 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jeans/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-5 parent submenu-block">
<span class="icon m-icon-jackets"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets.html" class="name">
Jackets
</a>
<ul class="level1">
<li class="level2 nav-2-5-13 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-5-14">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-5-15 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/jackets/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-6 parent submenu-block">
<span class="icon m-icon-shorts"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts.html" class="name">
Shorts
</a>
<ul class="level1">
<li class="level2 nav-2-6-16 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-6-17">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-6-18 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shorts/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-7 parent submenu-block">
<span class="icon m-icon-lingerie"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes.html" class="name">
Shoes
</a>
<ul class="level1">
<li class="level2 nav-2-7-19 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-7-20">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-7-21 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/shoes/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-3">
                                    <div
                               class="level1 nav-2-8 last parent submenu-block">
<span class="icon m-icon-skirts"></span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies.html" class="name">
Hoodies
</a>
<ul class="level1">
<li class="level2 nav-2-8-22 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-2-8-23">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies/empty-category-2.html">
Empty category #2
</a><li class="level2 nav-2-8-24 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/men/hoodies/empty-category-3.html">
Empty category #3
</a>
</ul>
 </div>
                          </div>

                        </div>
                      </div>
                      <!-- //end caregories -->

                      <!-- html block -->

<div class="col-xs-3">
<div class='img-fullheight man'> <img class='img-responsiv' src='http://demo.ethemeuk.com/megatron/magento/demo/media/wysiwyg/man.png' alt=''></div>
</div>
<!-- //end html block -->


                    </div>
                  </div>
<ul class="exclusive">
<li><span class="icon icon-tag "></span> <a href="#">SPECIAL OFFER</a></li>
<li><span class="icon icon-sale"></span> <a href="#">UP TO 50% OFF DISCOUNTS</a></li>
</ul>
 </div>
                    </dd><dt class="item with-sub level0 nav-3 last parent">
<a href="#" class="btn-main line">
Others
</a>
<dd class="item-content">
                <div class="navbar-main-submenu"> <a href="#" class="button-up"><span class="icon-arrow-up-3"></span> </a>
<ul class="exclusive toplevelcategory">
                    <li><span class="icon icon-coins"></span><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel.html">
View All
Others
</a></li>
                  </ul>
<ul class="exclusive">
<li><span class="icon icon-dropbox"></span> <a href="#">Gifts exclusive</a></li>
<li><span class="icon icon-coins"></span> <a href="#">Offers</a></li>
</ul>
<div class="wrapper-border">
                    <div class="row">

            <!-- caregories -->
            <div class="col-xs-12">
                        <div class="row">

<div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-1 first parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics.html" class="name">
Electronics
</a>
<ul class="level1">
<li class="level2 nav-3-1-1 first parent">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones.html">
Cell Phones
</a>
<ul class="level2">
<li class="level3 nav-3-1-1-1 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-1.html">
Empty category #1
</a><li class="level3 nav-3-1-1-2">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-2.html">
Empty category #2
</a><li class="level3 nav-3-1-1-3">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-3.html">
Empty category #3
</a><li class="level3 nav-3-1-1-4">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-4.html">
Empty category #4
</a><li class="level3 nav-3-1-1-5">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-5.html">
Empty category #5
</a><li class="level3 nav-3-1-1-6">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-6.html">
Empty category #6
</a><li class="level3 nav-3-1-1-7">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-7.html">
Empty category #7
</a><li class="level3 nav-3-1-1-8">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-8.html">
Empty category #8
</a><li class="level3 nav-3-1-1-9">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-9.html">
Empty category #9
</a><li class="level3 nav-3-1-1-10 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/cell-phones/empty-category-10.html">
Empty category #10
</a>
</ul><li class="level2 nav-3-1-2 last parent">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers.html">
Computers
</a>
<ul class="level2">
<li class="level3 nav-3-1-2-11 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/build-your-own.html">
Build Your Own
</a><li class="level3 nav-3-1-2-12">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/laptops.html">
Laptops
</a><li class="level3 nav-3-1-2-13">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/hard-drives.html">
Hard Drives
</a><li class="level3 nav-3-1-2-14">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/monitors.html">
Monitors
</a><li class="level3 nav-3-1-2-15">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/ram-memory.html">
RAM / Memory
</a><li class="level3 nav-3-1-2-16">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/cases.html">
Cases
</a><li class="level3 nav-3-1-2-17">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/processors.html">
Processors
</a><li class="level3 nav-3-1-2-18">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/peripherals.html">
Peripherals
</a><li class="level3 nav-3-1-2-19">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/accessories.html">
Accessories
</a><li class="level3 nav-3-1-2-20 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/electronics/computers/digital-cameras.html">
Digital Cameras
</a>
</ul>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-2 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture.html" class="name">
Apparel
</a>
<ul class="level1">
<li class="level2 nav-3-2-3 first parent">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room.html">
Dresses
</a>
<ul class="level2">
<li class="level3 nav-3-2-3-21 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room/empty-category-1.html">
Empty category #1
</a><li class="level3 nav-3-2-3-22">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room/empty-category-2.html">
Empty category #2
</a><li class="level3 nav-3-2-3-23 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/living-room/empty-category-3.html">
Empty category #3
</a>
</ul><li class="level2 nav-3-2-4 last parent">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom.html">
 Shirts
</a>
<ul class="level2">
<li class="level3 nav-3-2-4-24 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom/empty-category-1.html">
Empty category #1
</a><li class="level3 nav-3-2-4-25">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom/empty-category-2.html">
Empty category #2
</a><li class="level3 nav-3-2-4-26 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/furniture/bedroom/empty-category-3.html">
Empty category #3
</a>
</ul>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-3 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shirts.html" class="name">
Shirts
</a>
<ul class="level1">
<li class="level2 nav-3-3-5 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shirts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-3-6 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shirts/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-4 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shoes.html" class="name">
Shoes
</a>
<ul class="level1">
<li class="level2 nav-3-4-7 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shoes/mens.html">
Mens
</a><li class="level2 nav-3-4-8 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shoes/womens.html">
Womens
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-5 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/hoodies.html" class="name">
Hoodies
</a>
<ul class="level1">
<li class="level2 nav-3-5-9 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/hoodies/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-5-10 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/hoodies/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-6 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/coats.html" class="name">
Coats
</a>
<ul class="level1">
<li class="level2 nav-3-6-11 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/coats/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-6-12 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/coats/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-7 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jackets.html" class="name">
Jackets
</a>
<ul class="level1">
<li class="level2 nav-3-7-13 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jackets/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-7-14 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jackets/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-8 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shorts.html" class="name">
Shorts
</a>
<ul class="level1">
<li class="level2 nav-3-8-15 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shorts/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-8-16 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/shorts/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-9 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jeans.html" class="name">
Jeans
</a>
<ul class="level1">
<li class="level2 nav-3-9-17 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jeans/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-9-18 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/jeans/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-10 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-1.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-10-19 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-1/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-10-20 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-1/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-11 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-11-21 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-11-22 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category/empty-category-46.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div>
                               class="level1 nav-3-12 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-134.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-12-23 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-134/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-12-24 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-134/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-13 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-135.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-13-25 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-135/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-13-26 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-135/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-14 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-136.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-14-27 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-136/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-14-28 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-category-136/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-15 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-15-29 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-15-30 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div>
                               class="level1 nav-3-16 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-221.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-16-31 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-221/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-16-32 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-221/empty-category-2.html">
Empty category #1
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-17 parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-222.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-17-33 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-222/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-17-34 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-222/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div><div class="col-xs-6 col-md-4 col-lg-2">
                                    <div
                               class="level1 nav-3-18 last parent submenu-block">
<span class="icon empty">&nbsp;</span>
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-223.html" class="name">
Empty
</a>
<ul class="level1">
<li class="level2 nav-3-18-35 first">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-223/empty-category-1.html">
Empty category #1
</a><li class="level2 nav-3-18-36 last">
<a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/apparel/empty-223/empty-category-2.html">
Empty category #2
</a>
</ul>
 </div>
                          </div>

                        </div>
                      </div>
                      <!-- //end caregories -->

                      <!-- html block -->

<!-- //end html block -->


                    </div>
                  </div>
<ul class="exclusive">
<li><span class="icon icon-tag "></span> <a href="#">SPECIAL OFFER</a></li>
<li><span class="icon icon-sale"></span> <a href="#">UP TO 50% OFF DISCOUNTS</a></li>
</ul>
 </div>
                    </dd>





 <dt class="item"> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/contacts" class="btn-main line"><span class="icon icon-earth"></span></a> </dt>

    <dd></dd>



        </dl>
    </div>
</div>
{% endblock %}