{% block mobmenu %}
 <div class="navbar-secondary-menu pull-right compact-hidden visible-xs">

    <div class="btn-group visible-xs"> <a href="#"  class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> En <span class="caret"></span> </a>
            <ul class="dropdown-menu" role="menu">
                  <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=default&amp;___from_store=default"><img width="14" height="10" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/images/languages/default.png" alt=""> English</a> </li>
        <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=french&amp;___from_store=default"><img width="14" height="10" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/images/languages/french.png" alt=""> French</a> </li>
        <li><a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/?___store=german&amp;___from_store=default"><img width="14" height="10" src="http://demo.ethemeuk.com/megatron/magento/demo/skin/frontend/megatron/default/images/languages/german.png" alt=""> German</a> </li>
        </ul>
  </div>




                      <div class="btn-group visible-xs"> <a href="#"  class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">$<span class="caret"></span> </a>
                <ul class="dropdown-menu" role="menu">
                          <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/directory/currency/switch/currency/GBP/uenc/aHR0cDovL2RlbW8uZXRoZW1ldWsuY29tL21lZ2F0cm9uL21hZ2VudG8vZGVtby9pbmRleC5waHAvP19fX3N0b3JlPWRlZmF1bHQ,/">(£)&nbsp;British Pound Sterling</a> </li>
                <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/directory/currency/switch/currency/EUR/uenc/aHR0cDovL2RlbW8uZXRoZW1ldWsuY29tL21lZ2F0cm9uL21hZ2VudG8vZGVtby9pbmRleC5waHAvP19fX3N0b3JlPWRlZmF1bHQ,/">(€)&nbsp;Euro</a> </li>
                <li> <a href="http://demo.ethemeuk.com/megatron/magento/demo/index.php/directory/currency/switch/currency/USD/uenc/aHR0cDovL2RlbW8uZXRoZW1ldWsuY29tL21lZ2F0cm9uL21hZ2VudG8vZGVtby9pbmRleC5waHAvP19fX3N0b3JlPWRlZmF1bHQ,/">($)&nbsp;US Dollar</a> </li>
                        </ul>
              </div>

  </div>
{% endblock %}